* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;

}

html{
--main-color: #F5DF4D;
--second-color: #939597;
}


/* hamburgerek */



.burger {
  position: absolute;
  top: 40px;
  right: calc(50% - 35px);
  width: 70px;
  height: 50px;
  transition: .2s;
  z-index: 3;
  overflow: hidden;
  padding: 5px 0;
}

.burger.active {
  transform: rotate(-180deg);
  height: 57px;
}

.burger span {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: var(--main-color);
  left: 0;
  border-radius: 10%;
  transition: top .2s .2s, bottom .2s .2s, transform .2s .4s;

}

.burger span:nth-child(1) {
  top: 0;
}

.burger.active span:nth-child(1) {
  top: calc(50% - 5px);
  transform: rotate(45deg)
}

.burger span:nth-child(2) {
  top: calc(50% - 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger span:nth-child(3) {
  bottom: 0;
}

.burger.active span:nth-child(3) {
  bottom: calc(50% - 5px);
  transform: rotate(-45deg);
}

@media (orientation: landscape) {
  .burger {
    right: 20px;
    top: 20px;
  }

  .burger span {
    background-color: var(--second-color);
  }
}

/* menu  */


nav {
  background-color: rgba(147, 149, 151, 0.7);
  position: absolute;
  left: 0;
  top: -100%;
  height: 100%;
  width: 100vw;
  transition: 0.4s;
  z-index: 2;
}

nav.active {
  top: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline;

}


nav ul li a {
  text-transform: uppercase;
  font-size: 30px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

nav ul li a:hover {
  background-color: var(--main-color);
  cursor: pointer;
  color:var(--second-color);
  text-decoration: none;
}



@media (orientation: landscape) and (min-width: 1023px) {
  nav {
    left: -10%;
    height: 90px;
    background-color:var(--second-color);

  }

  nav ul {
    flex-direction: row;
    height: 100%;
    margin: 0;
  }

  nav ul li {
    margin: 15px 0;
    min-width: 15%;

  }

  nav ul li a {
    font-size: 20px;
    display: block;


  }

}





/* header */

header {
  background: url("img/computer.png") no-repeat;
  background-position: 0 45%;
  background-size: 100%, auto;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color:var(--second-color);
}

header>* {
  position: absolute;
}

header .welcome {
  bottom: 7%;
  color: white;
  padding: 10px;
  letter-spacing: 0.05em;

}

header h1 {
  transform: translateX(0);
  font-size: 40px;
  animation: move 1s 1s normal both;
}

header h2 {
  transform: translateX(0);
  font-size: 25px;
  animation: move 1s 3s normal both;
}

@keyframes move {
  0% {
    transform: translateX(-110%);
  }

  100% {
    transform: translateX(0);
  }
}

h1 span {
  color: var(--main-color);
  font-weight: 700;
  text-shadow: -1px 0var(--second-color), 0 1px var(--second-color),
    1px 0 var(--second-color), 0 -1px var(--second-color);
}


@media (orientation: portrait) and (min-width: 360px) {
  header h1 {
    font-size: 40px;
  }

  header h2 {
    font-size: 30px;
  }
}

@media (orientation: portrait) and (min-width: 400px) {
  header h1 {
    font-size: 45px;
  }

  header h2 {
    font-size: 35px;
  }
}

@media (orientation: portrait) and (min-width: 640px) {
  header h1 {
    font-size: 55px;
  }

  header h2 {
    font-size: 40px;
  }

  header .welcome {
    bottom: 1%;
    padding: 20px;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  header h1 {
    font-size: 70px;
  }

  header h2 {
    font-size: 50px;
  }

  header .welcome {
    bottom: 3%;
  }


}

@media (orientation: landscape) {
  header .welcome {
    bottom: 3%;
  }

  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 30px;
  }

  h1 span {
    color:var(--second-color);
    font-weight: 700;
  }

}

@media (orientation: landscape) and (min-width: 730px) {
  header h1 {
    font-size: 38px;
  }

  header h2 {
    font-size: 30px;
  }

}

@media (orientation: landscape) and (min-width: 1024px) {
  header h1 {
    font-size: 65px;
    padding-left: 7vw;
  }

  header h2 {
    font-size: 50px;
    padding-left: 7vw;
  }
}




/* sekcja o mnie */

section.aboutme {
  width: 100%;
  background-color: #ddd;
  padding-bottom: 50px;
  position: relative;
}

section.aboutme img {
  display: block;
  width: 90%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

section.aboutme p {
  font-size: 18px;
  margin: 15px 15px;
  text-align: left;
}

.cv {
  position: absolute;
  left: 20%;
  bottom: 15px;
  background-color: var(--main-color);;
  border: 2px solid white;

}

.cv a {
  color: white;
  padding: 5px 20px;
  font-size: 20px;
  transition: 0.5s;
}

.cv a:hover {
  background-color: #fff;
  color: var(--main-color);
}

.githubProfile {
  position: absolute;
  left: 60%;
  bottom: 10px;
  padding: 0;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #fff;
  color: var(--main-color); 
}

.githubProfile i {
  display: block;
}

.githubProfile__link {
  font-size: 45px;
  color: var(--main-color); 
  transition: 0.5s;
}

.githubProfile__link:hover {
  color: #aaa
}




@media (orientation: portrait) and (min-width: 360px) {
  section.aboutme p {
    font-size: 20px;
  }
}

@media (orientation: portrait) and (min-width: 640px) {
  section.aboutme p {
    padding: 5px 20px;
    font-size: 30px;
  }

}

@media (orientation: portrait) and (min-width: 1024px) {
  section.aboutme p {
    padding: 5px 30px;
    font-size: 40px;

  }

}

@media (orientation: landscape) {
  section.aboutme {
    display: flex;

  }

  div.aboutphoto,
  div.abouttext {
    padding: 10px 0;
  }

  section.aboutme p {
    font-size: 13px;
  }
}

@media (orientation: landscape) and (min-width: 640px) {
  section.aboutme p {
    font-size: 14px;
  }

  .cv {
    left: 60%;
    bottom: 25px;
  }

  .githubProfile {
    left: 80%;
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  section.aboutme p {
    font-size: 18px;
  }

}

@media (orientation: landscape) and (min-width: 1024px) {
  section.aboutme p {
    font-size: 25px;
  }

  .cv a {
    font-size: 30px;
    bottom: 20px;
  }

  .githubProfile {
    bottom: 20px;
  }

  .githubProfile__link {
    font-size: 65px;

  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  section.aboutme {
    padding: 20px 7vw;
  }

  section.aboutme p {
    font-size: 20px;
  }
}



/* sekcja projekty */

section.projects>div {
  margin-top: 20px;
  border: 2px solid var(--main-color);
  border-radius: 10%;

}

.projects {
  background-color: var(--second-color);
  padding: 20px 15px;
}

.projects h1 {
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  padding: 0 20px;
  line-height: 2;
  color: white;
}

.projects h2 {
  text-align: center;
  padding: 10px 0;
  color: var(--main-color);;

}

.projects img {
  width: 100%;
  margin-top: 20px;
}

.about {
  color: white;
  text-align: justify;
  font-size: 15px;
  padding: 0 10px;
  margin-bottom: 60px;
}

.projects .a1,
.projects .a3 {
  transform: translateX(-100vw);
  transition: 1s;
}

.projects .a2 {
  transform: translateX(100vw);
  transition: 1s;
}

.projects .a1.on,
.projects .a2.on,
.projects .a3.on {
  transform: translateX(0);
}

.a1,
.a2,
.a3 {
  position: relative
}

.livecode {
  border: var(--main-color) 2px solid;
  position: absolute;
  bottom: 12px;
  left: 20%;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10%;
}

.livecode__link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  transition: 0.5s;
  padding: 3px 10px;
}

.livecode__link:hover {
  background-color: var(--main-color);
  color: white;
  text-decoration: none;

}

.github {
  position: absolute;
  left: 65%;
  bottom: 12px;
}

.github__link {
  font-size: 50px;
  color: var(--main-color);
  transition: 0.5s;
}

.github__link:hover {
  color: white;
  text-decoration: none;
}

.github__link i {
  display: block;
}




@media (orientation: portrait) and (min-width: 640px) {
  .about {
    font-size: 30px;
  }

  .projects h1 {
    font-size: 50px;
  }

  section.projects>div {
    margin: 20px 30px;
  }
}

@media (orientation: landscape) {

  section.projects>div {
    display: flex;

  }

  .photo {
    width: 50%;
    padding: 10px 10px;
  }

  .about {
    width: 50%;
    font-size: 15px;
  }

  .about h2 {
    padding: 10px 0;
    font-size: 20px;
  }

  .about p {
    padding: 0 10px;
  }

  .livecode {
    left: 70%;
    font-size: 30px;
  }



  .github {
    left: 90%
  }

  .github__link {
    font-size: 55px;
  }


}

@media (orientation: landscape) and (min-width: 600px) {

  .about h2 {
    font-size: 23px;
  }

  .about p {
    font-size: 17px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  section.projects>div {
    border-radius: 1%
  }

  .about h2 {
    font-size: 35px;
  }

  .about p {
    font-size: 25px;
  }

  .projects h1 {
    font-size: 40px;
  }


}

@media (orientation: landscape) and (min-width: 1280px) {
  .projects {
    padding: 20px 7vw;
  }

  .about h2 {
    font-size: 35px;
  }

  .about p {
    font-size: 20px;
    padding: 0 30px;
    line-height: 1.5;
  }

  .projects h1 {
    font-size: 40px;
  }

  .photo {
    width: 30%;
  }

  .about {
    width: 70%;
  }

}

/* umiejętności */


.skills {
  background-color: var(--main-color);
  margin: 0 auto;
}


.skills h1 {
  color: var(--second-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  padding: 10px 20px;
  line-height: 1.5;
}


.skillImg {
  float: left;
  margin: 10px auto;
  padding: 20px;
}

.container {
  padding: 0px auto;
  text-align: center;
}

@media (orientation: portrait) and (min-width: 640px) {

  .skills h1 {
    font-size: 50px;
  }

}

/* kontakt */

.contact h1 {
  background-color: var(--second-color);
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.contacts>div {
  font-size: 25px;
  margin-left: 10px;
  margin-top: 5px;
}

a.sociallink {
  text-decoration: none;
  color: var(--second-color);
}

a.sociallink:hover {

  text-decoration: none;
  color: #aaa
}

footer {
  background-color: var(--main-color);
  color:var(--second-color);
  font-size: 20px;
  text-align: center;
  line-height: 2;
}

@media (orientation: portrait) and (min-width: 640px) {
  .contact h1 {
    font-size: 50px;
  }

  .contacts>div {
    font-size: 40px;
  }

  footer {
    font-size: 40px;
  }
}

@media (orientation: landscape) {

  .contact h1 {
    font-size: 40px;
  }

  .contacts>div {
    font-size: 25px;
    line-height: 1.5;
    margin: 35px;
  }

  footer {
    font-size: 25px;
  }
}